* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

/*-------------------SCROLLBAR SETTIGNS SECTION-----------------------*/
::-webkit-scrollbar {
  border-radius: 5%;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--color-secondary);
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-grey-6);
}

::-moz-selection {
  background-color: var(--color-secondary);
  /* Replace with your preferred color */
}

/*-------------------COLOR PALLETE SECTION-----------------------*/
:root {
  --color-primary: #17191f;
  --color-secondary: #fd9c3a;
  --color-white: #ffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*-------------------DEFAULT PAGE SETTIGNS SECTION-----------------------*/
body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  animation: appear 0.8s ease-in-out;
  transform: translateY(0) scaleY(1);

  @keyframes appear {
    0% {
      transform: translateX(-100%) scaleX(0);
    }

    100% {
      transform: translateX(0) scaleX(1);
    }
  }
}

/*-------------------CONTROLS SECTION-----------------------*/
.controls {
  position: fixed;
  z-index: 0;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
    transition: all 0.4s ease-in-out;

    i {
      font-size: 1.2rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }

  .active-btn {
    background-color: var(--color-secondary);
    transition: all 0.4s ease-in-out;

    i {
      color: var(--color-white);
    }
  }

  .control:hover {
    background-color: var(--color-secondary);
    transition: all 0.4s ease-in-out;

    i {
      color: var(--color-white);
    }
  }
}

/*-------------------HEADER SECTION-----------------------*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;

  .left-header {
    display: flex;
    align-items: center;
    position: relative;

    .h-shape {
      transition: all 0.4s ease-in-out;
      width: 40%;
      height: 100%;

      background: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 50% 0, 79% 100%, 0% 100%);
    }

    .image {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 68%;
      margin-left: 4rem;
      background-color: transparent;
      transition: all 0.4s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;

    .name {
      font-size: 3rem;

      span {
        background: var(--color-secondary);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

/*-------------------ABOUT PAGE SECTION-----------------------*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;

  .right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      transition: all 0.4s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);

      &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
      }

      .abt-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;

        .large-text {
          font-size: 3rem;
          font-weight: 700;
          color: var(--color-secondary);
        }

        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--color-grey-1);
          letter-spacing: 2px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--color-grey-5);
          }
        }
      }
    }
  }

  .left-about {
    padding-right: 5rem;

    p {
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-grey-1);
    }

    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

/*-------------------TESTIMONALS SECTION-----------------------*/

.container-testimonal {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.testimonal-header {
  text-align: center;
  margin-bottom: 50px;
}

.testimonals {
  padding: 100px 0;
}

.testimonals-item {
  background-color: var(--color-grey-5);
  padding: 30px;
  border-radius: 30px;
}

.testimonals-item .info {
  display: flex;
  align-items: center;
}

.testimonals-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonals-item .name {
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
  line-height: 1.2;
}

.testimonals-item .job {
  text-transform: capitalize;
  color: var(--color-white);
}

.testimonals-item p {
  margin-top: 20px;
  color: var(--color-white);
}

.testimonals-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: hsl(36, 88%, 66%);
}

.testimonlas .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonals .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: var(--color-secondary);
}

/*-------------------CATALOGO PAGE SECTION-----------------------*/
.catalogos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;

  .catalogo {
    position: relative;
    background-color: var(--color-grey-5);
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;

    &:hover {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-5px);
      transition: all 0.4s ease-in-out;

      img {
        transform: scale(1.1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
      }
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transition: all 0.4s ease-in-out;
    }

    .catalogo-text {
      margin-top: -7px;
      padding: 1.1rem;
      border-top: 8px solid var(--color-secondary);

      h4 {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
        transition: all 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
          color: var(--color-secondary);
        }
      }

      p {
        color: var(--color-grey-2);
        line-height: 2rem;
        padding-bottom: 1rem;
      }
    }
  }
}

/*-------------------SHOPPING CART STYLES SECTION-----------------------*/

.cart {
  position: fixed;
  top: 0;
  left: -100%;
  width: 360px;
  height: calc(100vh);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  z-index: 499;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-1);
  transition: all 0.5s ease-in-out;

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
  }
}

.cart.active {
  left: 0;
  position: fixed;
  z-index: 500;
  transition: all 0.5s ease-in-out;
}

.cart-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.cart-title {
  text-align: center;
}

.cart-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  padding-top: 1rem;
}

.cart-img-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity-box {
  display: flex;
  align-items: center;
}

.cart-quantity {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
  color: white;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.cart-remove-box {
  justify-self: flex-end;
}

.cart-remove {
  font-size: 24px;
  color: var(--color-secondary);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  padding-top: 1rem;
  transition: all 0.3s ease;
  border-top: 1px solid var(--color-secondary);
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 13px 20px;
  border: none;
  background: var(--color-secondary);
  color: #ffff;
  font-size: 1rem;
  box-shadow: var(--box-shadow-1);
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--color-secondary);
  cursor: pointer;
}

.slide-in {
  animation: slideIn 0.4s ease-out;
  transform: translateY(0) scaleY(1);

  @keyframes slideIn {
    0% {
      transform: translateX(-100%) scaleX(0);
    }

    100% {
      transform: translateX(0) scaleX(1);
    }
  }
}

.slide-out {
  animation: slideOut 0.4s ease-in-out;
}

@keyframes slideOut {
  0% {
    transform: translateX(0) scaleX(1);
  }

  100% {
    transform: translateX(-100%) scaleX(0);
  }
}

/*-------------------SERCH MOTOR SECTION-----------------------*/
.search-options {
  display: flex;
  gap: 2rem;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
  background-color: var(--color-secondary);
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search-box-az {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.btn-search-az {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

/*-------------------CONTACT PAGE SECTION-----------------------*/
.contact-content-con {
  display: flex;
  padding-top: 3.5rem;

  .left-contact {
    flex: 2;

    h4 {
      margin-top: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
    }

    p {
      margin: 1rem 0;
      line-height: 2rem;
    }

    .contact-info {
      .contact-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0.3rem 0 !important;
          padding: 0 !important;
        }

        .icon {
          display: grid;
          grid-template-columns: 40px 1fr;

          i {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }

    .contact-icon {
      display: flex;
      margin-top: 2rem;

      a {
        display: flex;
        align-items: center;
        color: var(--color-white);
        background-color: var(--color-grey-5);
        cursor: pointer;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 0.4rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          background-color: var(--color-secondary);

          i {
            color: var(--color-primary);
          }
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
        }
      }
    }
  }

  .right-contact {
    flex: 3;
    margin-left: 3rem;

    .input-control {
      margin: 1.5rem 0;

      input,
      textarea,
      select {
        /* Adicionando estilos para a combobox */
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-5);
        width: 100%;
        color: var(--color-white);
        resize: none;
      }
    }

    .i-c-2 {
      display: flex;

      :last-child {
        margin-left: 1.5rem;
      }
    }

    .submit-btn {
      display: flex;
      justify-content: center;
    }
  }
}

/*-------------------PROFILE PAGE SECTION-----------------------*/
.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 5rem;
}

.profile-page .content {
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  position: relative;
  color: var(--color-white);
  z-index: 2;
  margin: auto;
  padding: 0;
  background: var(--color-grey-5);
  box-shadow: var(--box-shadow-1);
}

.profile-page .content__cover {
  position: relative;
  border-radius: 2rem 2rem 0rem 0rem;
  background: var(--color-secondary);
}

.profile-page .content__bull {
  display: block;
  height: 12rem;
  position: relative;
  overflow: hidden;
}

.profile-page .content__avatar img {
  width: 12rem;
  height: 12rem;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  left: 50%;
  z-index: 2;
  border: 3px solid white;
  transform: translate(-50%, 50%);
  background: #ffffff center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: var(--box-shadow-1);
}

.profile-page .content__avatar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.profile-page .content__actions i {
  cursor: pointer;
  color: var(--color-secondary);
  margin-left: auto;
  padding: 1rem;
}

.profile-page .content__actions a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.profile-page .content__title {
  margin-top: 4.5rem;
  text-align: center;
  order: 1;
}

.profile-page .content__title h1 {
  margin-bottom: 0.1rem;
  font-size: 2.4rem;
}

.profile-page .content__title span {
  font-size: 1rem;
}

.profile-page .content__description {
  margin-top: 2.5rem;
  text-align: center;
  order: 2;
}

.profile-page .content__description a {
  color: var(--color-secondary);
  font-weight: 500;
}

.profile-page .content__description p {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

.profile-page .content__list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  list-style-type: none;
  order: 3;
}

.profile-page .content__list li {
  padding: 0 1.5rem;
  text-align: center;
  font-size: 1rem;
}

.profile-page .content__list li span {
  display: block;
  margin-bottom: 0.1rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.profile-page .content__button {
  margin: 3rem 0 2rem;
  text-align: center;
  order: 4;
}

.profile-page .content__button .button {
  display: inline-block;
  padding: 0.4rem 2rem;
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--color-secondary);
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.profile-page .content__button .button:hover {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}

.left-profile {
  display: flex;
  align-items: center;
  justify-self: center;
}

.profileImage-container {
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 0%;
  margin: 0 auto;
  cursor: pointer;
}

.profileImage-label {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--color-secondary);
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.profileImage-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
}

.hidden-input {
  display: none;
}

/*-------------------LOGIN/REGISTER PAGE SECTION-----------------------*/

.body-login {
  min-height: 100vh;
  width: 100%;
  display: grid;
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  grid-template-columns: 1fr 1fr;
}

.container-loggin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-loggin.side {
  background: url(../img/bk.png) no-repeat;
  background-size: 100% 102%;
}

.container-loggin .side img {
  width: 50%;
  max-width: 50%;
}

.container-loggin .login-container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  width: 150px;
  height: 4px;
  background-color: var(--color-secondary);
  margin: 24px;
}

.welcome-message {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  color: var(--color-grey-1);
  margin-bottom: 30px;
}

.welcome-message a {
  color: var(--color-secondary);
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}

input {
  width: 100%;
  background: #e6e6e6;
  color: var(--color-grey-3);
  letter-spacing: 0.5px;
  padding: 14px 64px;
}

input ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-grey-3);
  transition: color 0.4s;
}

input:focus ~ i {
  color: var(--color-secondary);
}

button.submit {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {
  .body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .side {
    display: none;
  }
}

/*-------------------ECOMENDA PAGE SECTION-----------------------*/

/*-------------------INDEPEDENT COMPONENTES SECTION-----------------------*/
.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;

  .btn-text {
    padding: 0.4rem 2rem;
  }

  .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    /* Adicione esta linha para garantir que a animação seja revertida corretamente */
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(100%);
    transition: all 0.4s ease-out;
    z-index: -1;
  }

  &:hover {
    transition: all 0.4s ease-out;

    &::before {
      width: 100%;
      transform: translateX(0);
    }
  }

  &:not(:hover) {
    &::before {
      width: 0;
      transform: translateX(100%);
    }
  }
}

.main-title {
  text-align: center;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;

    span {
      color: var(--color-secondary);
    }

    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      transition: all 0.4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
    }
  }
}

.cart-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;

  &:active {
    transform: translateY(-3px);
  }

  i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, filter 1s ease-in-out,
    transform 1s ease-in-out;
}

/* Atraso crescente para cada filho */
.child:nth-child(1) {
  transition-delay: 0.2s;
}

.child:nth-child(2) {
  transition-delay: 0.4s;
}

.child:nth-child(3) {
  transition-delay: 0.6s;
}

.child:nth-child(4) {
  transition-delay: 0.8s;
}

.child:nth-child(5) {
  transition-delay: 1s;
}

.child:nth-child(6) {
  transition-delay: 1.2s;
}

/* Adicione mais regras conforme necessário para outros filhos */

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*-------------------TOASTR NOTIFICATIONS SECTION-----------------------*/
.custom-toast-class {
  margin-top: 10px !important;
  border-radius: 10px !important;
  background-color: var(--color-grey-5) !important;
  opacity: 1 !important;
  box-shadow: var(--box-shadow-1) !important;
  color: #fff !important;
}

.custom-toast-class .toast-title {
  font-weight: bold !important;
}

.custom-toast-class .toast-message {
  font-weight: normal !important;
}

.custom-toast-class .toast-close-button {
  color: #fff !important;
}

.custom-toast-class .toast-progress {
  background-color: var(--color-secondary) !important;
  opacity: 1 !important;
  pointer-events: none !important;
}

.text-white {
  color: #ffffff !important;
}

.order {
  margin-bottom: 10rem;
}
/* Dropdown estilizado */
.cart-preference {
  background-color: var(--color-primary); /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: 1px solid var(--color-grey-4); /* Borda */
  padding: 7px;
  font-family: inherit;
  border-radius: 5px;
  font-size: 0.9rem;
}

.cart-preference:focus {
  outline: none;
  border-color: var(--color-secondary); /* Cor da borda ao focar */
}

.cart-preference option {
  background-color: var(--color-primary); /* Cor de fundo das opções */
  color: var(--color-white); /* Cor do texto das opções */
}

.leaderboard {
  margin: 50px auto;
  width: 100%; /* Alterado para 100% para preencher o contêiner pai */
  max-width: 1000px;
  border-radius: 20px;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Adicionado para rolagem horizontal em dispositivos menores */
}

.leaderboard th,
.leaderboard td {
  padding: 10px; /* Reduzido o padding para economizar espaço */
  text-align: left;
  background-color: var(--color-grey-5);
  color: #fff;
}

.leaderboard th {
  background-color: var(--color-secondary);
}

.leaderboard tr:nth-child(even) {
  background-color: var(--color-grey-5);
}

.leaderboard tr:hover {
  background-color: var(--color-grey-6);
}

.leaderboard img {
  width: 40px; /* Reduzido o tamanho das imagens para economizar espaço */
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .leaderboard th,
  .leaderboard td {
    padding: 8px; /* Ajustes adicionais de padding para telas menores */
  }

  .leaderboard img {
    width: 30px; /* Reduzido ainda mais o tamanho das imagens para telas menores */
    height: 30px;
  }
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px; /* Espaçamento entre os cards */
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.card p {
  color: #666;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff; /* Cor do botão */
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
@import "./media";
